html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="/style.min.css")
    body
        main
            .landing-page
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe corporis eius ducimus adipisci deleniti maiores necessitatibus. Qui explicabo perferendis asperiores voluptates, veniam delectus ratione nobis quo exercitationem. Omnis, cupiditate ratione.
                form(action="/", method="post")
                    textarea(name="URLs", cols="30", rows="10")
                    button(type='submit') Submit

                .card-container
                    for page in objj
                        .card-wrapper
                            img(src=page.img, alt="website image")
                            .title-container
                                p Title: #{page.title}
                                img(src=page.icon, alt="icon")
                            p=page.URL
                            p=page.des