html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Link Preview Tool

        link(rel="stylesheet", href="/style.min.css")
        link(rel="shortcut icon", href="/favicon.png")
    body
        main
            .landing-page
                p(class='info') Enter URLs in the text area below separated with spaces to get your link preview

                form(action="/", method="POST")
                    textarea(name="URLs")
                    button(type='submit') Submit

                .card-container
                    for page in objj
                        .card-wrapper
                            img(src=page.img, alt="website image", class='cover-img')
                            .title-container
                                img(src=page.icon, alt="icon", class='icon')
                                p(class='title')=page.title
                            p(class='url')=page.URL
                            p=page.des